.NavbarItems {
  /* background: linear-gradient(90deg, rgb(67, 39, 15), rgba(124,71,0,1) 100%); */
  background: rgb(67, 39, 15);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

}

.navbar-logo {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

#mountain {
  height: 40px;
}

.fa-react {
  margin-left: .5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-self: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  /* border: solid white; */

}

.nav-links:hover {
  background-color: #7E481C;
  border-radius: 4px;
  transition: all .2s ease-out;
}

.fa-bars, .fa-times {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#loginPic {
  height: 50px;
  margin-left: 20px;
  border: 2px solid black;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all .5s ease;
  }

  .nav-menu.active {
    background: #43270F;
    left: 0;
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7E481C;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    font-size: 20px;
    top: 23%;
    left: 0;
    margin-left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: white;
    color: black;
    transition: 250ms;
  }

  #loginPic {
    margin-left: 10px;
    border: 2px solid black;
  }

  #loginButton {
    padding: 10px;
  }

  #loginButton, #loginPic {
    position: relative;
    left: 75px;
  }
  


}