h4 {
  text-align: center;
  background-color:rgb(67, 39, 15);
  margin: 0;
  padding-bottom: 1%;
  font-family: 'Times New Roman', Times, serif;
  color: white;

}

hr {
  height: 30px;
  color: black;
}